<div class="menu">
<form>
<select onchange="location = this.value;">
    <option value="/">Selectează tabela</option>
    <option value="/angajat" {% if tabel_curent=="angajat" %} selected {% endif %}>ANGAJAT</option>
    <option value="/clienti" {% if tabel_curent=="clienti" %} selected {% endif %}>CLIENT</option>
    <option value="/colaboratori" {% if tabel_curent=="colaboratori" %} selected {% endif %}>COLABORATORI</option>
    <option value="/echipa" {% if tabel_curent=="echipa" %} selected {% endif %}>ECHIPA</option>
    <option value="/factura" {% if tabel_curent=="factura" %} selected {% endif %}>FACTURA</option>
    <option value="/locatie" {% if tabel_curent=="locatie" %} selected {% endif %}>LOCATIE</option>
    <option value="/lucrare" {% if tabel_curent=="lucrare" %} selected {% endif %}>LUCRARE</option>
    <option value="/oferta" {% if tabel_curent=="oferta" %} selected {% endif %}>OFERTA</option>
    <option value="/programare_utilaje" {% if tabel_curent=="programare_utilaje" %} selected {% endif %}>PROGRAMARE UTILAJE</option>
    <option value="/recenzie" {% if tabel_curent=="recenzie" %} selected {% endif %}>RECENZIE</option>
    <option value="/sef" {% if tabel_curent=="sef" %} selected {% endif %}>SEF</option>
    <option value="/selectie_colaboratori" {% if tabel_curent=="selectie_colaboratori" %} selected {% endif %}>SELECTIE COLABORATORI</option>
    <option value="/utilaj" {% if tabel_curent=="utilaj" %} selected {% endif %}>UTILAJ</option>
</select>
</form>
</div>
